name: Sync to Hugging Face
on:
  push:
    branches: [main]

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Sync to Hugging Face
        uses: nateraw/huggingface-sync-action@v0.0.5
        with:
          github_repo_id: '' # Replace with your GitHub repository ID
          huggingface_repo_id: 'serdalcelebi/MDash' # Replace with your Hugging Face model repository ID
          hf_token: ${{ secrets.HF_TOKEN }}
          repo_type: 'model' # Set this to 'model' for model repositories
          private: false # Optional: Set to true if you want the repository to be private
